#root {
  min-height: 800px;
}
table#gamefield {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  width: 100px;
  height: 110px;
  font-size: 50px;
}

td.space {
  cursor: pointer;
}

td.col0, td.col1 {
  border-right: 10px solid black;
}

td.winner {
  background-color: red;
}

tr.row0, tr.row1 {
  border-bottom: 10px solid black;
}

#resetbtn {
  float: right;
}

